/* 触发弹窗图片的样式 */

#myImg {
    display: block;
    margin: auto;
    border-radius: 5px;
    /* 光标位于图片的时候，展示形式是个小手 */
    cursor: pointer;
    transition: 0.3s;
}


/* img的hover效果，可以设置透明度 */

#myImg:hover {
    opacity: 0.85;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2)
}


/* 弹窗背景 */

.modal {
    display: none;
    /* 设置位置，不随屏幕移动而移动 */
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}


/* 图片 */

.modal-content {
    border-radius: 10px;
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}


/* 文本内容 */

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #aaa;
    padding: 10px 0;
    height: 150px;
    font-size: 1.4rem;
}


/* 添加动画 */

.modal-content,
#caption {
    /* 设置动画名 */
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}


/* 设置动画效果 */

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}


/* 关闭按钮 */

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    /* 加粗字体 */
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/* 小屏幕中图片宽度为 100%，响应式布局 */

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}